<div>
    <div v-if="context.userId !== data.ownerId" style="color: red;">
        You don't have permissions to open this application session.
    </div>

    <div v-if="context.userId === data.ownerId">
        <sly-style>
            #ai-assisted-tagging {
            }
            #small_table.tiny-table table thead th {
            font-size: 10px;
            }
            #small_table.tiny-table table {
            font-size: 11px;
            }
            #small_tabs .el-tabs__item {
            font-size: 12px;
            font-weight: 500;
            height: 30px;
            line-height: 30px;
            }
            #small_tabs .el-tabs__header {
            background: white;
            }
            #ai-assisted-tagging .app-header {
            background: white;
            }
            #ai-assisted-tagging .grid-gallery-views-scene.img-grid-gallery {
            z-index: 0;
            }
            #ai-assisted-tagging {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            }
            #ai-assisted-tagging .el-tabs {
            display: flex;
            flex-direction: column;
            height: calc(100% - 60px);
            }
            #ai-assisted-tagging .el-tabs__content {
            overflow: scroll;
            }
            #ai-assisted-tagging .el-tabs__header {
            margin-bottom: 0
            }
            #ai-assisted-tagging .xxx .el-collapse-item__header {
            height: 30px;
            line-height: 30px;
            background: #f8f9fc;
            }

        </sly-style>

        <div v-if="context.userId === data.ownerId && !data.connected">
            <sly-field title="Connect to running classification NN"
                       description="Select one of the deployed classification models"
                       style="margin-left: 5px;"
            >
                <sly-icon slot="icon" :options="{ color: '#2cd26e', bgColor: '#d8f8e7', rounded: false }">
                    <i class="zmdi zmdi-compass"></i>
                </sly-icon>
                <div class="fflex">
                    <sly-select-app-session :group-id="data.teamId"
                                            :app-session-id.sync="state.nnId"
                                            :options="data.ssOptions">
                    </sly-select-app-session>
                    <el-button class="ml5"
                               type="primary"
                               size="small"
                               :disabled="!state.nnId"
                               :loading="state.connecting"
                               @click="state.connecting = true; command('connect')"
                    >
                        <i class="zmdi zmdi-refresh mr5"></i> Connect
                    </el-button>
                </div>
            </sly-field>
            <hr style="border: 0; border-top: 1px solid rgba(0,0,0,.12); margin-bottom: 15px;"/>
        </div>
        <div id="ai-assisted-tagging"
             v-if="context.userId === data.ownerId && data.connected"
             class="ml5 mr10"
             style="margin-left: 2px; margin-right: 2px;"
        >
            <div class="app-header">
                <div class="fflex" style="justify-content: space-between">
                    <div class="fflex">
                        <el-button size="small" type="primary" class="mt5 ml5 mb5" v-if="state.applyTo === 'object'"
                                   @click="command('next_object')">
                            Next {{state.applyTo}} <i class="zmdi zmdi-arrow-right ml5"></i>
                        </el-button>
                    </div>
                    <div>
                        <el-button type="warning" size="small"
                                   @click="command('disconnect')"
                        >
                            <i class="zmdi zmdi-close mr5"></i>Disconnect
                        </el-button>
                    </div>
                </div>
            </div>
            <hr style="border: 0; border-top: 1px solid rgba(0,0,0,.12);"/>
            <el-tabs id="small_tabs" v-model="state.tabName">
                <el-tab-pane label="INFO" name="info">
                    <span slot="label"><i class="zmdi zmdi-info mr5"></i></i>INFO</span>
                    {% include 'src/ui/info_tab.html' %}
                </el-tab-pane>
                <el-tab-pane label="PREDICTIONS" name="predictions">
                    <span slot="label"><i class="zmdi zmdi-fire mr5"></i>PREDICTIONS</span>
                    <el-button size="small" class="mt5 ml5 mb5"
                               :loading="state.predictLoading"
                               :disabled="(!context.figureId && state.applyTo === 'object')"
                               @click="state.predictLoading = true; command('predict');"
                    >
                        Refresh predictions for selected {{state.applyTo}}
                    </el-button>
                    <div v-if="data.predTags" class="ml5">
                        <div class="mt10"><b>TOP {{state.topn}} PREDICTIONS:</b></div>
                        <div class="fflex" v-if="data.predTags">
                            <el-button type="text" size="mini"
                                       :disabled="data.predTags.length === state.activeNamesPred.length"
                                       @click="state.activeNamesPred = data.predTagsNames"
                            >
                                <i class="zmdi zmdi-unfold-more mr5"></i>Expand all
                            </el-button>
                            <el-button type="text" size="mini"
                                       :disabled="state.activeNamesPred.length == 0"
                                       @click="state.activeNamesPred = []"
                            >
                                <i class="zmdi zmdi-unfold-less mr5"></i>Collapse all
                            </el-button>
                        </div>
                        <el-collapse class="xxx" v-model="state.activeNamesPred" v-if="data.predTags">
                            <el-collapse-item v-for="tag in data.predTags" :name="tag.name">
                                <template slot="title">
                                    <span style="min-width: 25%;">
                                        <i class="zmdi zmdi-label mr5" :style="{color: tag.color}"></i>{{tag.name}}
                                    </span>
                                    <b class="ml10">p={{tag.score}}</b>
                                </template>
                                <el-button v-if="state.applyTo === 'object'"
                                           size="small" type="primary" class="mt5 ml5 mb5"
                                           @click="state.assignLoading = true;
                                                   state.assignName = tag.name;
                                                   command('assign_to_object');"
                                           :loading="state.assignLoading"
                                           :disabled="!context.figureId"
                                >
                                    Assign tag "{{tag.name}}" to selected object
                                </el-button>
                                <sly-image-slider :data="data.tagsExamples[tag.name]"/>
                            </el-collapse-item>
                        </el-collapse>
                        <sly-field style="margin-top: 15px;"
                                   :title="`Correct class not found among top ${state.topn} predictions?`"
                                   :description="`If you compared ${state.applyTo} with all predictions and
                                   the correct class not found, you can mark this ${state.applyTo} with tag 'Unknown' and
                                   get back to this case later`">
                            <el-button size="small" class="mt5 ml5 mb5"
                                       :plain="true" type="warning"
                                       :disabled="(!context.figureId && state.applyTo === 'object')"
                                       :loading="state.assignLoading"
                                       @click="state.assignLoading = true; command('mark_unknown');"
                            >
                                Assign tag <span style="color: orange"><i class="zmdi zmdi-label"></i> "Unknown"</span> to current {{state.applyTo}}
                            </el-button>
                        </sly-field>
                    </div>
                    <div v-else class="ml5">
                        Predictions will be shown here. Select {{state.applyTo}} or press "Refresh" button
                    </div>
                </el-tab-pane>
                <el-tab-pane label="REVIEW" name="review">
                    <span slot="label"><i class="zmdi zmdi-view-dashboard mr5"></i>REVIEW</span>
                </el-tab-pane>
                <el-tab-pane label="SETTINGS" name="settings">
                    <span slot="label"><i class="zmdi zmdi-settings mr5"></i>SETTINGS</span>
                    <div class="mt5 ml5 mr5">
                        <sly-field title="Apply to" description="Apply model to images or to objects">
                            <el-select v-model="state.applyTo" size="small">
                                <el-option key="image" label="image" value="image"></el-option>
                                <el-option key="object" label="object" value="object"></el-option>
                            </el-select>
                        </sly-field>
                        <sly-field title="Assign mode"
                                   description="Tag will be appended to existing ones (duplicates are allowed). Or if object
                                   or image has some of the model tags, they will be replaced"
                        >
                            <el-select v-model="state.assignMode" size="small">
                                <el-option key="append" label="append" value="append"></el-option>
                                <el-option key="replace" label="replace" value="replace"></el-option>
                            </el-select>
                        </sly-field>
                        <sly-field title="Top N" description="Show only top N predictions">
                            <el-input-number size="small" v-model="state.topn" :min="1"></el-input-number>
                        </sly-field>
                        <sly-field title="Object padding"
                                   description="Crop object with padding for prediction (applicable only when model is applied to objects)">
                            <div class="fflex">
                                <el-input-number size="small" v-model="state.pad" :min="0"></el-input-number>
                                <div class="ml5">percent</div>
                            </div>
                        </sly-field>
                        <sly-field title="Cache"
                                   description="App caches metadata, images and annotations. Clear cache if you get
                                   special notifications from the app">
                            <el-button size="small" @click="command('clear_cache')">Clear cache</el-button>
                        </sly-field>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </div>

    </div>
</div>